<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{.Title}}</h1>
    <ul>
      {{range $k,$v := .Data}}
      <li>{{$v}}s roll is {{$k}}</li>
      {{end}}
    </ul>
  </body>
</html>
