<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      {{template "header"}}
      <div class="content">
        <h1>Products</h1>
        {{range .}}
          <div class="">
            <h3>{{.Title}}</h3>
            <p>{{.Body}}</p>
            <p>{{.Price}}</p>
            <div class="">
              <h5>Author: </h5>
              <p><strong>Name: </strong> {{.Author.Name}}</p>
              <p><strong>Email:</strong> {{.Author.Email}}</p>
            </div>
          </div>
        {{end}}
      </div>
      {{template "footer"}}
    </div>
  </body>
</html>
